<?xml version="1.0"?>
<FileBackUp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Direcotry BaseDir="D:\backup\DataBase\easeplus">
    <IncludePathPattern>
      <string>backup_{yyyy}_{MM}_{dd}_\d+_\d+\.bak</string>
    </IncludePathPattern>
  </Direcotry>
  <Direcotry BaseDir="D:\backup\DataBase\GatewayServer">
    <IncludePathPattern>
      <string>backup_{yyyy}_{MM}_{dd}_\d+_\d+\.bak</string>
    </IncludePathPattern>
  </Direcotry>
 <Direcotry BaseDir="D:\AppService" ExecuteWeekDays="1,5" Disabled="true">
    <ExcludeDir>
      <string>logs</string>
    </ExcludeDir>
  </Direcotry>
  <Direcotry BaseDir="D:\管理后台" ExecuteDays="5" Disabled="true">
    <ExcludeDir>
      <string>logs</string>
    </ExcludeDir>
  </Direcotry>
</FileBackUp>