<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Ftp服务器配置信息 -->
    <add key="FtpHost" value="118.123.215.174:21"/>
    <add key="FtpUserName" value="clientbak"/>
    <add key="FtpPassword" value="client!&amp;$"/>

    <!-- 导出数据本地存储目录 -->
    <add key="ExportBaseDir" value="/gwsoft/"/>
    <!-- 本地数据文件对应的远程Ftp目录 -->
    <add key="SynDataBackDir" value="backup"/>

    <!-- FTP是否启动被动模式 -->
    <add key="System.Net.FtpWebRequest.UsePassive" value="true"/>
    <!-- FTP读取数据超时默认毫秒数-->
    <add key="System.Net.FtpWebRequest.ReadWriteTimeout" value="200000"/>

    <!-- 执行分段上传的文件大小限制(字节数)：默认为40M -->
    <add key="SurfingDataSyn.FtpCmd.SplitUploadSize" value="41943040" />
    <!-- 分段上传，每次FTP上传的缓冲字节数：默认为40K -->
    <add key="SurfingDataSyn.FtpCmd.FtpBufferSize" value="409600" />

    <!-- 备份压缩包默认解压密码：默认为gwsoftctmarket -->
    <add key="SurfingDataSyn.FileBackUp.ArchivePassword" value="gwsoftctmarket" />

  </appSettings>

  <connectionStrings>
    <add name="UserDB" connectionString="Server=(local);User ID=sa;Password=****;Database=serviceconfig;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
